<ion-header>
  <ion-toolbar>
    <ion-title>getpost</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>My Heroes</h2>
  <!-- <ul class="heroes">
  <li>
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
  </ul>

  <li *ngFor="let hero of heroes"></li>

  <h2>{{hero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{hero.id}}</div>
  <div><span>name: </span>{{hero.name}}</div>

  <div>
    <label for="name">Hero name: </label>
    <input id="name" [(ngModel)]="hero.name" placeholder="name">
  </div> -->

  <form [formGroup]="myForm" (ngSubmit)="submit()">

    <div class="form-group">

      <label for="name">Name</label>

      <input

          formControlName="name"

          id="UserId"

          type="text"

          class="form-control">

      <div *ngIf="f.name.touched && f.name.invalid" class="alert alert-danger">

          <div *ngIf="f.name.errors.required">Name is required.</div>

          <div *ngIf="f.name.errors.minlength">Name should be 3 character.</div>

      </div>
      <div class="form-group">

        <label for="name">Name</label>

        <input

            formControlName="name"

            id="FK_DocumentTypeId"

            type="text"

            class="form-control">

        <div *ngIf="f.name.touched && f.name.invalid" class="alert alert-danger">

            <div *ngIf="f.name.errors.required">Name is required.</div>

            <div *ngIf="f.name.errors.minlength">Name should be 3 character.</div>

        </div>

    </div>
    <div class="form-group">

      <label for="name">Name</label>

      <input

          formControlName="name"

          id="FK_TicketId"

          type="text"

          class="form-control">

      <div *ngIf="f.name.touched && f.name.invalid" class="alert alert-danger">

          <div *ngIf="f.name.errors.required">Name is required.</div>

          <div *ngIf="f.name.errors.minlength">Name should be 3 character.</div>

      </div>

  </div>
  <div class="form-group">

    <label for="name">Name</label>

    <input

        formControlName="name"

        id="ApplicationId"

        type="text"

        class="form-control">

    <div *ngIf="f.name.touched && f.name.invalid" class="alert alert-danger">

        <div *ngIf="f.name.errors.required">Name is required.</div>

        <div *ngIf="f.name.errors.minlength">Name should be 3 character.</div>

    </div>

</div>

  </div>



    <div class="form-group">

        <label for="file">File</label>

        <input

            formControlName="file"

            id="images"

            type="file"

            class="form-control"

            (change)="onFileChange($event)">

        <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">

            <div *ngIf="f.file.errors.required">File is required.</div>

        </div>

    </div>



    <button class="btn btn-primary" type="submit">Submit</button>

</form>

</ion-content>
