<ion-app>
  <ion-menu side="start" menuId="m1" contentId="menuContent">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          PairBNB
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle menu="m1">
        <ion-item routerLink="/places/discover">
          <ion-icon name="business" slot="start"></ion-icon>
          <ion-label>Discover Places</ion-label>
        </ion-item>
        <ion-item routerLink="/bookings">
          <ion-icon name="checkbox-outline" slot="start"></ion-icon>
          <ion-label>Your Bookings</ion-label>
        </ion-item>
        <ion-item  (click)="onLogout()" button>
          <ion-icon name="exit" slot="start"></ion-icon>
          <ion-label>Logout</ion-label>
        </ion-item>
        <ion-item routerLink="/location" button>
          <ion-label>Get Your Location</ion-label>
        </ion-item>
        <ion-item routerLink="/shots" button>
          <ion-label>Take Picture</ion-label>
        </ion-item>
        <ion-item routerLink="/getpost" button>
          <ion-label>Image upload</ion-label>
        </ion-item>
        <ion-item routerLink="/canvas" button>
          <ion-label>Canvas</ion-label>
        </ion-item>
        <ion-item routerLink="/shared/pickers/location-picker" button>
          <ion-label>Location</ion-label>
        </ion-item>
      </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="menuContent"></ion-router-outlet>
</ion-app>
