<ion-header>
  <ion-toolbar>
    <ion-title>camera</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding [class.newBG]="state">
  <!-- <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button (click)=takePicture()>camera</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img  [src]="this.currentImage">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col> -->
        <!-- <button ion-button outline (click)="screenShot()">Screenshot (PIC)</button> -->
        <!-- <button ion-button outline (click)="screenShotURI()">Screenshot (URI)</button> -->
        <!-- <img src="{{ screen }}" *ngIf="state">
      </ion-col>
    </ion-row>
  </ion-grid> -->
  <!-- <ion-button (click)="fileChoose()" >Take Photo</ion-button> -->
  <ion-button (click)="chooseFileForAndroid()" >Take Photo</ion-button>
    <!-- <ion-button (click)="takePicture(0)" >Upload</ion-button> -->
    <img src="{{image}}">


</ion-content>
