<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/discover"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ place.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-grid class=ion-no-padding>
    <ion-row>
      <ion-col sizeSm=6 offsetSm=3><ion-img [src]=place.imageUrl></ion-img></ion-col>
    </ion-row>

    <ion-row>
      <ion-col sizeSm=6 offsetSm=3 class=ion-text-center><p>{{place.description}}</p></ion-col>
    </ion-row>
  </ion-grid>

  <ion-row *ngIf="!isBookable">
    <ion-col><ion-button  expand=block  color= "danger" (click)= onBookPlace() margin >Book</ion-button></ion-col>
  </ion-row>

  <ion-card padddig>
  <!-- <ion-button [routerLink] = "['/', 'bookings', 'create-booking', 'CreateBookingComponent']" (click)= takme()></ion-button> -->
</ion-card>
</ion-content>
